<section id="inputs">
    <form class="form-horizontal" >
    <div class="control-group">
        <label class="control-label" for="inputEmail">
            שם משתמש</label>
        <div class="controls" style="float: right">
            <input type="text" id="name" name="name" value="<%= name %>" style="text-align: right;"
                placeholder="שם משתמש">
                <span class="help-inline"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputEmail">
            אמייל</label>
        <div class="controls" style="float: right">
            <input type="email" id="email" name="email" value="<%= email %>" style="text-align: right;"
                placeholder="אמייל">
                <span class="help-inline"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputEmail">
            סיסמא
        </label>
        <div class="controls" style="float: right">
            <input type="password" id="inputEmail" style="text-align: right;" placeholder="סיסמא">
        </div>
    </div>
            <table class="table" style="width:70px;float:right">
              <thead>
                <tr>
                  <th>#</th>
                  <th>קבוצה</th>
                </tr>
              </thead>
              <tbody>
               <!-- <tr>
                  <td><input type="checkbox" name="group" value="mangers"/></td>
                  <td>מנהלים</td>
                </tr>
                <tr>
                  <td><input type="checkbox" name="group"  value="shomer"/></td>
                  <td>שומרים</td>
                </tr>
                <tr>
                  <td><input type="checkbox" name="group" value="kabat"/></td>
                  <td>קבטים</td>
                </tr>-->
              </tbody>
            </table>
    </form>
</section>